
<br>
<br>
<div class="container-fluid d-flex justify-content-start">
<img class="col-1 d-flex justify-content-start"style="height: 90px; width: 90px" src="/default.jpeg" alt="avicon">
<div class="card col-8">
    <div class="card-body">
        <h5 class="card-title"><a href="/entries/{{id}}">{{entry_title}}</a></h5>
        <p class="card-text">{{entry_content}}</p>
    </div>
    <h6 class="card-footer">Created by: {{user.user_name}} @ {{format_date created_at}}</h6>
    {{!-- <button type="button"  data-bs-toggle="modal" data-bs-target="#exampleModal">
  add Comment
</button> --}}
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Add Comment</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        
            <label for="newComment" class="form-label">comment: </label>
            <textarea class="form-control" id="newComment" rows="3"></textarea>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="commentSubmit">Submit Comment</button>
      </div>
    </div>
  </div>
</div>
</div>
</div>
